@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="page-header">
				<h1>Search</h1>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-3">
			@using (Html.BeginForm("Search", "Word", FormMethod.Get, new { onsubmit = "return checkInputNotEmpty('txtQueryInIndex')" }))
			{
				<div class="input-group input-group-lg">
					<input id="txtQueryInIndex" name="word" type="text" class="form-control" placeholder="输入要查找的单词" />
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
			}
		</div>
	</div>

	<br /><br /><br />
</div>
