@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Hangerd.Utility;
@using Root.Application.DataObjects

@model WordDto

<div class="clearfix">
	<h4>
		<a class="btn btn-sm btn-success" href="@Url.Action("Edit", "Word", new { Model.Id })"><span class="glyphicon glyphicon-edit"></span></a>
		&nbsp;&nbsp;
		<strong>@Model.Stem</strong>
	</h4>

	<hr />

	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-md-1 control-label">释　义:</label>
			<div class="col-md-4">
				<ul class="list-group">
					@foreach (var interpretation in Model.Interpretations.OrderBy(i => i.Order))
					{
						<li class="list-group-item">
							@CommonTools.GetEnumDescription(interpretation.PartOfSpeech) @interpretation.Interpretation
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
