@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model string

<div class="clearfix">
	<h4><strong>添加单词</strong></h4>

	<hr />

	<form id="addWordForm" class="form-horizontal">
		<div class="form-group">
			<label class="col-md-1 control-label">词　干:</label>
			<div class="col-md-4">
				<div class="input-group">
					@Html.TextBox("stem", Model, new { @class = "form-control" })
					<span class="input-group-btn">
						<button id="btnSave" type="button" class="btn btn-success">添 加</button>
					</span>
				</div>
			</div>
		</div>
	</form>
</div>

@section scripts {
	<script type="text/javascript">
		$("#btnSave").bind("click", function () {
			if (!$.trim($("#stem").val())) {
				alert("词干不可为空");
				return;
			}

			$.ajax({
				type: "POST",
				dataType: "json",
				url: "@Url.Action("Add", "Word")",
				data: $("#addWordForm").serialize(),
				success: function (result) {
					alert(result.Message);

					if (result.Word != null) {
						window.location.href = "@Url.Action("Modify", "Word")/" + result.Word.Stem;
					}
				}
			});
		});
	</script>
}